﻿
<head>
    <link rel="stylesheet" href="~/css/aboutstyle.css" />
</head>

@{
    ViewData["Title"] = "About me";
}

<h2>@ViewData["Title"]</h2>
<!---<h3>@ViewData["Message"]</h3>-->

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/vatitlan.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Volcan de Atitlan 2017.                     
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/piano.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    I play the piano.
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/correr.png" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    21K Las Rosas 2016
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/natacion.png" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    I like swimming.
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="hobbies">
    <h3>My Hobbies</h3>
</div>


    <div class="sec">
    <div class="row">        
        <div class="col-m-6 col-sm-8">
            <h3><strong>Climbing</strong></h3>
            <h4>I love climbing volcanos and mountains. Guatemala has lots of places where
                you can practice this sport, it's beatiful and helps you getting rid of
                the stress and that kind of things. But, let me tell you something, if you don't
                do any sports it's better to stay at home, because it's necesary being in
                shape to do this kind of activities.
            </h4>
        </div>
        <div class="col-m-6 col-sm-4">
            <picture class="container">
            <img src="\images\v_acate.JPG" >
            </picture>
        </div>
        </div>
    </div>



    <div class="sec"> 
    <div class="row">         
        <div class="col-m-6 col-sm-8">
            <h3><strong>Music</strong></h3>
            <h4>When I want to feel better or just relax, I always play the piano. I started 
                practicing it when I was 7 years old and I think it's one of the best things I've
                ever done. To play an instrument is something wonderful. When I play the piano a 
                feel happy and motivated.
            </h4>
        </div>
        <div class="col-m-6 col-sm-4">
            <picture class="container">
            <img src="\images\piano_yo.png"> 
            </picture>       
        </div>
        </div>
    </div>



    <div class="sec">
    <div class="row">          
        <div class="col-m-6 col-sm-8">
            <h3><strong>Running</strong></h3>
            <h4>Since I was a little kid I used to go outside with my dad to jog because he always
                told me that doing excercise is something that makes you healthy. Actually we go 
                together to 10k and 21K races and sometimes we run at the same rithm. I am who I
                am because of my dad, he's more than a father, he is my friend.
            </h4>
        </div>
        <div class="col-m-6 col-sm-4">
            <picture class="container">
            <img src="\images\yo_papa.png" > 
            </picture>                 
        </div>
        </div>
    </div>



