﻿
<head>
    <link rel="stylesheet" href="~/css/contactstyle.css" />
</head>

@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>

<address>
    Guatemala City<br />
    Miraflores, Mirador I<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Other Emails:</strong> <a href="sev17238@uvg.edu.gt">sev17238@uvg.edu.gt</a><br />
</address>

<section>
    <div class="row">   
        <div class="ddata">
            <picture class=" col-m-4 col-sm-4 ">              
                <img src="\images\contacto.png">             
            </picture>
            <div class="col-m-8 col-sm-8 ">
                <h2><strong>Leave a message:</strong></h2>
                <div class="comentario">
                  <form>
                    Name:<br>
                    <input type="text" name="nombre">
                    <br>
                    Email Address:<br>
                    <input type="text" name="email">
                    <br>Comment here:<br>
                     <textarea name="message" rows="10" cols="40"></textarea>
                     <br>
                     <input type="submit" value="Submit">
                  </form>
                </div>
            </div>
        </div>
    </div>
</section>
