﻿<head>
    <link rel="stylesheet" href="~/css/indexstyle.css" />
</head>

@{
    ViewData["Title"] = "Home Page";
}

<section>
<div class="info1">
<div class="row">
    <picture class=" col-m-7 col-sm-5 "> 
        <div>      
        <img src="\images\YO.png" class="img-responsive">   
        </div>      
    </picture>
    <figure class="col-m-5 col-sm-4 description ">
       
        <div class="firstinfo">
            <h2 style="color:teal"><b>DIEGO LEONEL SEVILLA DE LEON</b></h2>
            <h4 style="color:teal">Student</h4>
           <p>Currently regular student at <a href="http://www.uvg.edu.gt/">Universidad del Valle de Guatemala</a> in Computer Science and Information Technology engineering.</p>
           <p>Future employee on software development companies as web, movil and desktop apps.</p>
           <p>Worthy person and hungry for knowledge.</p>           
        </div>
    </figure>
    
    <div class="col-m-12 col-sm-3 contactos">
        <ul class="listaprueba">
            <li><h4 class="titulos">Cell</h4><p>5532-5678</p></li>                   
            <li><h4 class="titulos">Email</h4><p>sevilla.diego8@gmail.com</p></li>
            <li><h4 class="titulos">Social Links</h4><a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&ss=1&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">
            <img title="sevilla.diego8@gmail.com" src="/images/google-plus.png"/></a><a href="https://www.facebook.com/diego.sevilla.739"><img title="Diego Sevilla - Facebook profile" 
            src="/images/facebook.png"/></a> </li>    
        </ul> 
          
    </div>
    </div>
</div>
</section>

   
        <div class="row">
            <div class=" col-m-6 col-sm-4 ">
                <div class="mythings">
                <picture style="background-image:url(/images/job.jpg); width:100%;">
                <br><br><br><br><br>
                    <h3> Profesional Experience</h3>
                </picture>
                <ul>
                  <li><strong>Supervised Professional Practices</strong> <i>(August 20th 2017 - October 24th 2017)</i></li>
                  <li><strong>Distribuidora América Comercial (DACSA, S. A.)</strong> <i>(5 ave. Zona 9 5 – 55)</i></li>
                  <li>Electronic equipment maintenance, industrial machinery maintenance, labor work.</li>
                </ul>
                </div>
            </div>
            <div class="col-m-6 col-sm-4" >
                <div class="mythings">
                <picture style="background-image:url(/images/education.png); width:100%;">
                <br><br><br><br><br>
                    <h3 style="color:ghostwhite;"> Education</h3>
                </picture>
                <ul>
                    <li><b>Elementary school</b> <i> Colegio Capouilliez (2004 - 2010)</i></li>
                    <li><b>High school</b> <i> Colegio Capouilliez (2011 - 2013)</i></li>
                    <li><b>Middle School</b> <i> Instituto Tecnico Laboral Kinal (2014 - 2016)</i></li>
                    <p>"Bachillerato en ciencias y letras" and "Perito en Electronica Industrial"</p>
                </ul>
                </div>
            </div>
            <div class="col-m-6 col-sm-4 ">
                <div class="mythings">
                <picture style="background-image:url(/images/electronics.png); width:100%;">
                <br><br><br><br><br>
                    <h3 style="color:ghostwhite;"> Skills</h3>
                </picture>
                <ul>
                  <li><h4>Analog Electronics</h4></li>
                  <li><h4>Digital Electronics</h4></li>
                  <li><h4>Industrial Engines</h4></li>
                </ul>
                </div>
            </div>
        </div>
   
        <div class="row">
            <div class=" col-m-6 col-sm-4 ">
                <div class="mythings">
                <picture style="background-image:url(/images/faculties.png); width:100%;">
                <br><br><br><br><br>
                    <h3 style="color:ghostwhite;"> Faculties</h3>
                </picture>
                <ul>
                  <li><strong>Persistent</strong></li>
                  <li><strong>Responsable</strong></li>
                  <li><strong>Liable</strong></li>
                  <li><strong>Proactive</strong></li>
                  <li><strong>Team worker</strong></li>
                </ul>
                </div>
            </div>
            <div class=" col-m-6 col-sm-4 ">
                <div class="mythings">
                <picture style="background-image:url(/images/software.png); width:100%;">
                <br><br><br><br><br>
                    <h3 style="color:ghostwhite;"> Software</h3>
                </picture>
                <ul>
                  <li><strong>Python</strong></li>
                  <li><strong>Java</strong></li>
                  <li><strong>HTML&CSS</strong></li>
                  <li><strong>Microsoft Office</strong></li>
                </ul>
                </div>
            </div>
            <div class="col-m-6 col-sm-4 ">
                <div class="mythings">
                <picture style="background-image:url(/images/languages.png); width:100%;">
                <br><br><br><br><br>
                    <h3 style="color:ghostwhite;"> Languages</h3>
                </picture>
                <ul>
                  <li><h3><strong>Spanish</strong></h3></li>
                  <li><h3><strong>English</strong></h3></li>
                </ul>
                </div>
            </div>
        </div>    
