 
 .sec{
    background-color: ghostwhite; opacity: 0.9;
    box-shadow:  0 3px 5px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.48); 
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}


h4{
    padding: 3%;
}

h3{
    padding-left: 2%;
}

picture img{
    width: 90%;
}

.hobbies {
    text-align: center;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"]{
    float: left;
    padding: 8px;
}

/*Condicion para la pantalla de tablets y dispositivos mas grandes que un smartphone.*/
@media screen and (max-width: 768px) and (min-width: 450px) {
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
    
    
    .sec{
        padding: 3%;
        text-align: center;

    }
  
}

/*Condicion para la pantalla de SmartPhones y dispositivos pequeños.*/
@media screen and (max-width: 449px) and (min-width: 200px){
   
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
   
    picture img{
        width: 100%;
    }

    .sec{
        padding: 3%;
        text-align: center;
    }
    
}