﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("http://soscreacionesweb.com/sites/default/files/fondo-slide-1_2_0.jpg");
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".jpg"] {
    width: 100%;
    justify-content: center;
   
}
.carousel-inner .item img[src$=".png"] {
    width: 100%;
    justify-content: center;
  
}
/* QR code generator */
#qrCode {
    margin: 15px;
}
/* Hide/rearrange for smaller screens */
@media only screen and (max-width: 449px) and (min-width: 200px){
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

}

.navbar {
    background-color: rgba(2, 129, 129, 0.952);
}

.navbar ul li a{
    color: ghostwhite;
}

.footerr{
    background-color: transparent;
    color: rgb(1, 54, 54);
}

